In [16]:
%matplotlib widget
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt

gme_data = yf.download("GME" , start = '2019-02-07' , end = '2021-02-07',  interval = "1d")
gme_data = gme_data.reset_index()
gme_data.head(10)

[*********************100%***********************]  1 of 1 completed

        Date   Open   High    Low  Close  Adj Close   Volume
0 2019-02-07  11.40  11.59  11.23  11.47  11.093610  2021100
1 2019-02-08  11.39  11.49  11.31  11.35  10.977548  1801200
2 2019-02-11  11.38  11.39  11.16  11.30  10.929188  1918600
3 2019-02-12  11.30  11.59  11.30  11.55  11.170984  2678000
4 2019-02-13  11.56  11.75  11.38  11.47  11.093610  2132800
5 2019-02-14  11.37  11.42  11.24  11.33  10.958203  2468500
6 2019-02-15  11.33  11.44  11.28  11.43  11.054922  2211800
7 2019-02-19  11.46  11.47  11.13  11.20  10.832469  3305600
8 2019-02-20  11.23  11.30  11.15  11.20  10.832469  2960500
9 2019-02-21  11.23  11.29  11.01  11.03  10.668048  2489200

In [15]:
gme_data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-02-07,11.400000,11.590000,11.230000,11.470000,11.093610,2021100
1,2019-02-08,11.390000,11.490000,11.310000,11.350000,10.977548,1801200
2,2019-02-11,11.380000,11.390000,11.160000,11.300000,10.929188,1918600
3,2019-02-12,11.300000,11.590000,11.300000,11.550000,11.170984,2678000
4,2019-02-13,11.560000,11.750000,11.380000,11.470000,11.093610,2132800
...,...,...,...,...,...,...,...
499,2021-02-01,316.559998,322.000000,212.000000,225.000000,225.000000,37382200
500,2021-02-02,140.759995,158.000000,74.220001,90.000000,90.000000,78183100
501,2021-02-03,112.010002,113.400002,85.250000,92.410004,92.410004,42698500
502,2021-02-04,91.190002,91.500000,53.330002,53.500000,53.500000,62427300
503,2021-02-05,54.040001,95.000000,51.090000,63.770000,63.770000,80886300

In [7]:
gme = yf.Ticker("GME")
gme.info

{'zip': '76051',
 'sector': 'Consumer Cyclical',
 'fullTimeEmployees': 14000,
 'longBusinessSummary': 'GameStop Corp. operates as a multichannel video game, consumer electronics, and collectibles retailer in the United States, Canada, Australia, and Europe. The company sells new and pre-owned video game platforms; accessories, including controllers, gaming headsets, virtual reality products, and memory cards; new and pre-owned video game software; and in-game digital currency, digital downloadable content, and full-game downloads, as well as network points cards, and prepaid digital and prepaid subscription cards. It also sells collectibles comprising licensed merchandise primarily related to the video game, television, and movie industries, as well as pop culture themes. The company operates its stores and e-commerce sites under the GameStop, EB Games, and Micromania brands; and collectibles stores under the Zing Pop Culture and ThinkGeek brand, as well as offers Game Informer, a print and digital video game publication featuring reviews of new title releases, game tips, and news regarding the video game industry. As of February 1, 2020, the company operated 5,509 stores across 14 countries. The company was formerly known as GSC Holdings Corp. GameStop Corp. was founded in 1996 and is headquartered in Grapevine, Texas.',
 'city': 'Grapevine',
 'phone': '817 424 2000',
 'state': 'TX',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.gamestop.com',
 'maxAge': 1,
 'address1': '625 Westport Parkway',
 'industry': 'Specialty Retail',
 'previousClose': 63.77,
 'regularMarketOpen': 72.41,
 'twoHundredDayAverage': 23.546278,
 'trailingAnnualDividendYield': 0,
 'payoutRatio': 0,
 'volume24Hr': None,
 'regularMarketDayHigh': 72.66,
 'navPrice': None,
 'averageDailyVolume10Day': 58690583,
 'totalAssets': None,
 'regularMarketPreviousClose': 63.77,
 'fiftyDayAverage': 68.49094,
 'trailingAnnualDividendRate': 0,
 'open': 72.41,
 'toCurrency': None,
 'averageVolume10days': 58690583,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': 1552521600,
 'beta': -1.947171,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 58.02,
 'priceHint': 2,
 'currency': 'USD',
 'regularMarketVolume': 25534232,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 4184819968,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 31935257,
 'priceToSalesTrailing12Months': 0.8107288,
 'dayLow': 58.02,
 'ask': 59.68,
 'ytdReturn': None,
 'askSize': 1300,
 'volume': 25534232,
 'fiftyTwoWeekHigh': 483,
 'forwardPE': -285.7143,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 2.57,
 'bid': 58.35,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 1200,
 'dayHigh': 72.66,
 'exchange': 'NYQ',
 'shortName': 'GameStop Corporation',
 'longName': 'GameStop Corp.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'GME',
 'messageBoardId': 'finmb_1342560',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 0.999,
 'beta3Year': None,
 'profitMargins': -0.053239997,
 'enterpriseToEbitda': -39.853,
 '52WeekChange': 15.18528,
 'morningStarRiskRating': None,
 'forwardEps': -0.21,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 69747000,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 5.095,
 'sharesShort': 61782730,
 'sharesPercentSharesOut': 0.8858,
 'fundFamily': None,
 'lastFiscalYearEnd': 1580515200,
 'heldPercentInstitutions': 1.2204499,
 'netIncomeToCommon': -270000000,
 'trailingEps': -4.224,
 'lastDividendValue': 0.38,
 'SandP52WeekChange': 0.15952432,
 'priceToBook': 11.776252,
 'heldPercentInsiders': 0.27334,
 'nextFiscalYearEnd': 1643673600,
 'mostRecentQuarter': 1604102400,
 'shortRatio': 2.81,
 'sharesShortPreviousMonthDate': 1607990400,
 'floatShares': 46888789,
 'enterpriseValue': 5156963840,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1174262400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1552521600,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': None,
 'dateShortInterest': 1610668800,
 'pegRatio': 0.17,
 'lastCapGain': None,
 'shortPercentOfFloat': 2.2642,
 'sharesShortPriorMonth': 68127116,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 72.41,
 'logo_url': 'https://logo.clearbit.com/gamestop.com'}

In [8]:
gme.major_holders

         0                                      1
0   27.33%        % of Shares Held by All Insider
1  122.04%       % of Shares Held by Institutions
2  167.96%        % of Float Held by Institutions
3      286  Number of Institutions Holding Shares

In [4]:
gme.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"FMR, LLC",9534090,2020-09-29,0.1367,97247718
1,Blackrock Inc.,8600507,2020-09-29,0.1233,87725171
2,"Vanguard Group, Inc. (The)",5288116,2020-09-29,0.0758,53938783
3,"Susquehanna International Group, LLP",4444128,2020-09-29,0.0637,45330105
4,Dimensional Fund Advisors LP,3948114,2020-09-29,0.0566,40270762
5,Senvest Management LLC,3225740,2020-09-29,0.0462,32902548
6,State Street Corporation,2609487,2020-09-29,0.0374,26616767
7,Morgan Stanley,1995842,2020-09-29,0.0286,20357588
8,"Paradice Investment Management, LLC",1832526,2020-09-29,0.0263,18691765
9,Norges Bank Investment Management,1811792,2019-12-30,0.0260,11015695

In [24]:
vol_gme = gme_data.plot(x='Date', y="Volume",title="GameStop Stock Volume \nBy Day \nfrom Feb 2019 to Feb 2021");
vol_gme.set_xlabel("Date")
vol_gme.set_ylabel('Volume (1E8)')
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [25]:
high_gme = gme_data.plot(x='Date', y="High",title="GameStop Stock High \nBy Day \nfrom Feb 2019 to Feb 2021");
high_gme.set_xlabel("Date")
high_gme.set_ylabel('Highest Price ($)')
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [38]:
gme_20_21 = yf.download("GME" , start = '2020-02-05' , end = '2021-02-07',  interval = "1d")
gme_20_21 = gme_20_21.reset_index()
gme_20_21.head(10)

[*********************100%***********************]  1 of 1 completed

        Date  Open  High   Low  Close  Adj Close   Volume
0 2020-02-05  4.15  4.41  4.14   4.18       4.18  2641700
1 2020-02-06  4.20  4.30  4.14   4.14       4.14  1510300
2 2020-02-07  4.11  4.13  3.77   3.81       3.81  2742300
3 2020-02-10  3.85  4.10  3.74   3.94       3.94  2777000
4 2020-02-11  3.98  4.24  3.95   4.02       4.02  3415000
5 2020-02-12  4.13  4.51  4.07   4.19       4.19  4820600
6 2020-02-13  4.12  4.26  4.07   4.11       4.11  2081700
7 2020-02-14  4.11  4.19  4.02   4.02       4.02  1582700
8 2020-02-18  4.01  4.08  3.96   4.06       4.06  1467600
9 2020-02-19  4.06  4.27  3.92   4.15       4.15  2593100

In [39]:
vol_gme_20 = gme_20_21.plot(x='Date', y="Volume",title="GameStop Stock Volume \nBy Day \nfrom Feb 2020 to Feb 2021");
vol_gme_20.set_xlabel("Date")
vol_gme_20.set_ylabel('Volume (1E8)')
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [40]:
high_gme_20 = gme_20_21.plot(x='Date', y="High",title="GameStop Stock Volume \nBy Day \nfrom Feb 2020 to Feb 2021");
high_gme_20.set_xlabel("Date")
high_gme_20.set_ylabel('Highest Price ($)')
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [44]:
fig, (ax1, ax2) = plt.subplots(2)
fig.suptitle('Plot Comparison')
ax1.plot(gme_data['Date'],gme_data['Volume'])
ax2.plot(gme_data['Date'],gme_data['High'])
#ax3.plot(gme_20_21['Date'],gme_data['Volume'])
#ax4.plot(gme_20_21['Date'],gme_data['High'])

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …