In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('../Data/Clean Data_with new comments.csv')

In [5]:
df.head()

,time,open,high,low,close,volume,# of Comments (Hourly)
0,2/2/21 20:00,90.0000,90.5000,85.00,85.20,288108,459.0
1,2/2/21 19:00,92.0000,94.0000,88.00,90.00,232127,483.0
2,2/2/21 18:00,88.8200,96.0000,86.01,92.00,476352,500.0
3,2/2/21 17:00,90.7600,93.8900,85.33,88.78,843580,500.0
4,2/2/21 16:00,99.8561,101.9599,88.00,90.47,5582379,500.0

In [41]:
cleaned_df = df[['time','# of Comments (Hourly)']]
cleaned_df['O/C Change'] = abs(df['close']- df['open'])
days = ['/'.join(t.split(' ')[0].split('/')[0:2]) for t in cleaned_df['time']]
cleaned_df['Day'] = days
day_num_comments = cleaned_df.groupby(cleaned_df['Day'])
comments_per_day = day_num_comments['# of Comments (Hourly)'].sum().sort_values(ascending=False)
#Series of comments per day
comments_per_day.head(15)

<ipython-input-41-d944b80336c6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['O/C Change'] = abs(df['close']- df['open'])
<ipython-input-41-d944b80336c6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Day'] = days

Day
1/28    8000.0
1/29    7986.0
2/1     7796.0
2/2     7636.0
1/14    5431.0
1/15    4936.0
1/22    4918.0
1/27    4898.0
1/13    3594.0
1/21    3174.0
1/19    3140.0
1/20    2259.0
12/8     905.0
1/11     536.0
1/26     433.0
Name: # of Comments (Hourly), dtype: float64