In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('../Data/Clean Data_with new comments.csv')

In [7]:
df.head()

,time,open,high,low,close,volume,# of Comments (Hourly)
0,2/2/2021 20:00,90.0000,90.5000,85.00,85.20,288108,459.0
1,2/2/2021 19:00,92.0000,94.0000,88.00,90.00,232127,483.0
2,2/2/2021 18:00,88.8200,96.0000,86.01,92.00,476352,500.0
3,2/2/2021 17:00,90.7600,93.8900,85.33,88.78,843580,500.0
4,2/2/2021 16:00,99.8561,101.9599,88.00,90.47,5582379,500.0

In [37]:
cleaned_df = df[['time','# of Comments (Hourly)']]
cleaned_df['H/L Change'] = df['high']- df['low']
days = ['/'.join(t.split(' ')[0].split('/')[0:2]) for t in cleaned_df['time']]
cleaned_df['Day'] = days
day_num_comments = cleaned_df.groupby(cleaned_df['Day'])
day_num_comments['# of Comments (Hourly)'].sum().head(50)

<ipython-input-37-1ef3bee18d31>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['H/L Change'] = df['high']- df['low']
<ipython-input-37-1ef3bee18d31>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Day'] = days

Day
1/11      536.0
1/12      129.0
1/13     3594.0
1/14     5431.0
1/15     4936.0
1/19     3140.0
1/20     2259.0
1/21     3174.0
1/22     4918.0
1/25        0.0
1/26        0.0
1/27     4870.0
1/28     8000.0
1/29     7986.0
1/4       106.0
1/5       132.0
1/6       143.0
1/7       144.0
1/8       164.0
10/1        0.0
10/12       9.0
10/13      37.0
10/14       9.0
10/15     162.0
10/16      24.0
10/19       1.0
10/2        0.0
10/20      20.0
10/21       9.0
10/22      20.0
10/23      10.0
10/26      30.0
10/27      21.0
10/28       9.0
10/29       8.0
10/30      15.0
10/5        1.0
10/6        0.0
10/7        1.0
10/8      354.0
10/9      181.0
11/10       4.0
11/11       5.0
11/12       1.0
11/13       1.0
11/16      63.0
11/17       6.0
11/18       1.0
11/19      35.0
11/2        0.0
Name: # of Comments (Hourly), dtype: float64